@media (max-width: 576px) {
  h1 {
    font-size: 40px !important;
  }
  .mail-to {
    font-size: 20px !important;
  }
}
:root {
  --font-family: "Be Vietnam Pro", sans-serif;
}
h1 {
  font-size: 80px;
  text-align: center;
}
body {
  font-family: var(--font-family);
  text-align: center;
  background-color: #f8e49c;
}
.photo-croissant {
  display: flex;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  margin-bottom: 15px;
}
.mail-to {
  display: block;
  font-size: 40px;
  margin-bottom: 15px;
}
